<div class="auth-wrapper">
  <ngx-spinner [name]="'spinner1'" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  </ngx-spinner>
  <div class="auth-content signup-cart">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <img id="logo-image" class="img-fluid img-rounded" [src]="'assets/images/buds-logo.png'" height="70"
            width="70" />
        </div>
        <div id="register-section">
          <h2 class="title mb-2">Partner with Bud’s and do more for your business.</h2>
          <p class="mb-4">Sign up for an account to create multiple listings
            with our growing community!</p>
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm)" #myform="ngForm" method="POST">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Account Manager Email Address"
                formControlName="email" required>
              <div class="error" *ngIf="registerForm.get('email').hasError('required') && myform.submitted">Email
                required.</div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstname" required>
                <div class="error" *ngIf="registerForm.get('firstname').hasError('required') && myform.submitted">First
                  name required</div>
              </div>
              <div class="form-group col">
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname" required>
                <div class="error" *ngIf="registerForm.get('lastname').hasError('required') && myform.submitted">Last
                  name required</div>
              </div>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
              <div class="error" *ngIf="registerForm.get('password').hasError('required') && myform.submitted">Password
                required.</div>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password"
                formControlName="confirmPassword" required>
            </div>

            <div class="error" *ngIf="registerForm.errors?.invalid">Password doesn't match.</div>

            <div class="form-check mb-4 check_box_buds">
              <input (change)="changeCheck($event)" type="checkbox" class="form-check-input">
              <label class="form-check-label text-left">I confirm I am at least 21 years old and that I agree to Bud's
                Bank <a href="http://budsbank.com/terms-of-use">Terms of Use</a> and <a
                  href="http://budsbank.com/privacy-policy/" target="_blank">Privacy Policy</a>. </label>
              <div class="error mt-4" *ngIf="authenticationError && myform.submitted">{{ authenticationError }}</div>
            </div>

            <button [disabled]="registerForm.errors?.invalid" class="btn btn-primary shadow-2 mb-4">CREATE
              ACCOUNT</button>
          </form>
          <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/auth/signin']"> Log in</a></p>
        </div>
      </div>
    </div>
  </div>