<div class="auth-wrapper">
  <div class="auth-content">    
    <div class="card">
      <div class="card-body text-center">

        <div class="mb-4">
          <img id="logo-image" class="img-fluid" [src]="'assets/images/buds-logo.png'" />
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm)" #myform="ngForm" method="POST">

          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
            <div class="error" *ngIf="loginForm.get('email').hasError('required') && myform.submitted">Email Required</div>
            <div class="error" *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').status === 'INVALID' && myform.submitted">Enter a valid email address.</div>
          </div>

          <div class="form-group mb-2">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
            <div class="error" *ngIf="loginForm.get('password').hasError('required') && myform.submitted">Password required.</div>
          </div>

          <div class="form-group error" *ngIf="authenticationError && myform.submitted">
            {{ authenticationError }}
          </div>

          <button class="btn btn-primary mb-4">Login</button>
        </form>
        
        <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/forget']">Reset</a></p>
        <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
